/* Fonts from Google Fonts @ https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=PT+Sans&display=swap');

/* Web Icons from Google Fonts @ https://fonts.google.com/icons
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
} */

:root {
    /* Colors */
        --primary: #089f3f;
        --secondary: #12130F;
        --accent1: #5D737E;
        --accent2: #fdffa3;
        
        --white: #ffffff;
        --black: #000000;

        --shadow: #0303038e;
        --shading: #03030330;

    /* Fonts */
        --heading: 'Domine', georgia, serif;
        --paragraph: 'PT Sans Narrow', tahoma, sans-serif;
    }

/* Font Sizes */
h1 {font-size: 2.5em;}
h2 {font-size: 2.3em;}
h3 {font-size: 1.5em;}
li, p {font-size: 1em;}

h1, h2, h3 {
    font-family: var(--heading);
    font-weight: 700;
    margin: 0px;
}
h4, h5, h6 {
    font-family: var(--heading);
    font-weight: 700;
    margin: 0px;
}
a, li, p, span {
    font-family: var(--paragraph);
    font-weight: 400;
    margin: 0px;
}

/* Override Default CSS */
a {text-decoration: none;}
li {list-style: none;}
ul {padding-left: 16px;}

/* Page CSS */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

header, main, body {
    margin: 0px;
}

header {
    background-color: var(--primary);
}

.header-top {
    display: block;
    background-color: var(--secondary);
}

.header-top span {
    display: block;
    text-align: center;
}

header a {padding: 10px;}
header a:link, #ham-menu {color: var(--white);}
header a:visited {color: var(--white);}
header a:hover {color: var(--accent2);}
header a:active {color: var(--accent1);}

#ham-menu:hover {color: var(--accent2);}
#ham-menu:active {color: var(--accent1); background-color: var(--black);}

#link-byui, #link-linkedin, #ham-menu {margin: auto 0; padding: 10px;}
#ham-menu {cursor: pointer;}

main a {padding: 4px 8px;}
main a:hover {background-color: var(--secondary); color: var(--accent2); border-radius: 6px;}
main a:active {color: var(--accent1);}

.header-bottom {
    display: flex;
    padding: 30px;
}

#profile {
    width: 100px; height: 100px;
    margin-right: 10px;
    border: 6px solid var(--white);
    border-radius: 60px;
}

#author {
    padding: 0px;
    text-align: center;
    color: var(--white);
}

main {
    display: block;
    padding: 10px 20px;
}

.page-title {
    margin: 20px 0px;
    color: var(--secondary);
}

#activities, #project, #information {
    margin: 20px 0px;
    border-radius: 6px;
    background-color: var(--white);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.box-title {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 6px 12px;
    background-color: var(--accent1);
    background-image: linear-gradient(var(--accent1), var(--shading));
    color: var(--white);
}

.box-content {
    height: auto;
    min-height: 80px;
    padding: 10px;
}

#activities li {
    margin: 6px 0px;
}
#information p {
    padding-left: 10px;
}

footer {
    padding: 20px 0px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
}

.highlight {
    color: var(--accent2);
    padding-top: 10px;
}

hr {
    margin-top: 20px;
    border: 3px solid var(--accent1);
    border-radius: 6px;
}

/* Sticky Footer */
html, body {
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}