/* Fonts from Google Fonts @ https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&family=Playfair+Display:wght@400;700;800&display=swap');


:root {
    /* Colors */
        --primary: #a0001e;
        --secondary: #180e0d;
        --accent1: #9d6451;
        --accent2: #e2beab;

        --white: #ffffff;
        --black: #000000;

        --shadow: #0303038e;
        --shading: #03030330;

    /* Status Colors */
        --good: #089f3f;
        --poor: #bdb630;
        --bad: #cb2121;

    /* Fonts */
        --heading: 'Playfair Display', georgia, serif;
        --paragraph: 'DM Sans', tahoma, sans-serif;
    }

h1 {font-size: 40px;}
h2, h3 {font-size: 32px;}
h4, h5, h6, button {font-size: 24px;}
li, p {font-size: 18px;}
label {font-size: 24px;}

h1, h2, h3 {
    font-family: var(--heading);
    font-weight: 800;
    margin: 0px;
}
h4, h5, h6, button {
    font-family: var(--paragraph);
    font-weight: 500;
    margin: 0px 0px 4px 0px;
}
a, li, span, label {
    font-family: var(--paragraph);
    font-weight: 400;
    margin: 0px;
}

p { 
    font-family: var(--paragraph);
    font-weight: 400;
    margin: 0px 0px 4px 0px;
}

button, input[type="submit"] {
    border: none;
    padding: 14px 32px;
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

button:active, input[type="submit"]:active {
    background-color: var(--black);
    color: var(--accent2);
    box-shadow: none;
}

body {
    margin: 0 auto;
    background-color: var(--black);
}

/* Header */

header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 1fr;
    background-color: var(--primary);
}

#header-logo {
    grid-column: 1/2; grid-row: 1/2;
}

#header-company {
    grid-column: 2/3; grid-row: 1/2;
    padding: 24px 20px;
    text-align: left;
    color: var(--white);
}

#header-links {
    grid-column: 3/4; grid-row: 1/2;    
    padding: 6px 0px;
}


#link-facebook, #link-linkedin {
    display: inline;
    width: 40px; height: 40px;
    padding: 4px;
    cursor: pointer;
}

#header-links img {
    border: 4px solid var(--primary);
    border-radius: 40px;
}
#header-links img:hover {border: 4px solid var(--white);}
#header-links img:active {border: 4px solid var(--accent2);}

/* Navigation */

.navigation {
    text-align: center;
	padding: 0px;
    margin: 0px;
    list-style: none;
}

nav li {
    display: none;
    width: 100%;
}

nav li:first-child {
    display: block;
}
#nav-button.active {
    background-color: var(--accent1);
}
#nav-current::before {
    display: inline-block;
    margin: 2px 4px;
    width: 8px; height: 8px;
    border-radius: 10px;
    background-color: var(--accent1);
    content: "";
}

nav li.open {
    display: block;
}

nav a, nav a:visited {
	text-decoration: none;
    display: block;
    padding: 12px;
    background-color: var(--secondary);
    color: var(--white);
}

nav a:hover {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 2px 7px 2px var(--shadow);
}

nav a:active {
    background-color: var(--primary);
    color: var(--accent2);
}

.active {
    background-color: var(--black);
    color: var(--accent1);
}

figure, picture {
    margin: 0px;
    padding: 0px;
}

figcaption {
    padding: 6px 10px;
    font-family: var(--paragraph);
    font-weight: 400;
    background-color: var(--black);
    color: var(--white);
}

figcaption a, figcaption a:hover {
    color: var(--accent2);
}

figcaption a:active {
    color: var(--accent1);
}

img {
    display: block;
    width: auto; height: auto;
    margin: 0 auto;
}

hr {
    border: 1px solid var(--black);
    margin: 10px;
}

/* Responsive Menu */
.menu {
    width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 10;
	overflow: hidden;
    background-color: var(--secondary);
    color: var(--white);
    background: linear-gradient(to bottom, var(--black), var(--secondary));
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}

.menu li:hover  {
    background-color: var(--black);
    color: var(--accent2);
}

.menu li a {
	display: block;
    justify-content: center;
    position: relative;
    cursor: pointer;
	padding: 10px 10px 10px 0px;
	border-bottom: 1px solid var(--shadow);
}

.menu li span {
    padding-left: 10px;
}

/* Main */
main {
    background-color: var(--white);
    padding: 12px;
}

.box-title {
    padding: 4px 10px;
    background-color: var(--accent2);
    color: var(--secondary);
}

.box-subtitle {
    padding: 10px 10px 0px 10px;
}
.box-content {
    padding: 10px;
}

.sub-box {
    width: auto; height: 200px;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

/* Footer */

footer {
    display: block;
    background-color: var(--primary);
    color: var(--white);
}

#footer-logo {
    width: 180px; height: 180px;
}

#footer-company {
    color: var(--white);
}

.info-company, .info-contact, .info-stats {
    text-align: center;
    padding: 10px 10px 30px 10px;
}

footer a, footer a:visited {color: var(--white);}
footer a:hover, footer a:active {color: var(--accent2);}

strong {
    font-weight: 500;
    letter-spacing: 1px;
}

.info-contact i {
    color: var(--accent2);
    padding-right: 8px;
}

.info-stats {
    background-color: var(--secondary);
    padding-top: 20px;
    color: var(--accent2);
}

#visit-count, #visit-since {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
}

/* Home Page Content */

.call-to-action, .events, .weather, .join, .spotlight {
    border: 1px solid var(--background);
    width: auto; height: auto;
    min-height: 200px;
    margin-bottom: 20px;
    background-color: var(--background);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.spotlight-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 12px;
}

.call-to-action {
    position: relative;
}

.hero-title {
    position: absolute;
    width: 50%; height: auto;
    min-width: 200px;
    top: 20px;
    left: 0px;
    text-align: center;
    padding: 4px 10px 4px 10px;
    background-color: var(--primary);
    color: var(--white);
}

#hero-image img {
    width: 100%; height: auto;
    max-width: 1920px;
    padding: 0px;
    background-color: lightgray;
}

#hero-image img {
    object-fit: cover;
}

#join-button {
    display: flex;
    justify-content: space-evenly;
    min-width: 60%;
    margin: 0px auto;
    border-radius: 30px;
}

/* Discover Page Content */

.discover-grid {
    display: block;
}

.discover-box {
    border: 1px solid var(--background);
    width: auto; height: auto;
    margin-bottom: 60px;
    background-color: var(--background);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.discover-box .box-title {
    min-width: 200px;
}

.discover-box .box-content {
    padding-bottom: 40px;
}

.discover-grid img {
    transition: 1s;
    max-width: 600px;
    background-color: lightgray;
}

.discover-grid img:hover {
    transition: 0.5s;
    transform: scale(1.02, 1.02);
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.discover-grid img:active {
    filter: blur(2px);
    transition: 2s;
}

.fade-in {
    animation: fade 3s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Join Page Content */

.join-grid {
    display: block;
}

#form-area {
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

#form-title {
    padding: 10px;
    background-color: var(--accent2);
    color: var(--secondary);
}

#form-instructions {
    padding: 10px 10px 0px 10px;
}

form {
    padding: 10px;
}

fieldset {
    padding: 4px 10px 20px 10px;
    border: 2px solid black;
    margin: 20px 0px;
}
legend {
    padding: 0px 4px;
    font-family: var(--paragraph);
    font-size: 18px;
}

form label .label-title, form h2 {
    display: block;
    margin-top: 10px;
    font-family: var(--paragraph);
    font-weight: 800;
    font-size: 24px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    display: block;
    width: 80%; max-width: 400px;
    padding: 4px 10px;
    border: 1px solid black;
    
}
input[type="radio"] {
    margin: 10px 15px 10px 10px;
}
.label-title {
    margin-bottom: 4px;
}
.req::after {
    content: "*";
    color: var(--bad);
    font-weight: 400;
}

.p-hint {
    margin: 10px 0px;
}

#mem-selection label {
    display: block;
}

#mem-selection, #mem-description {
    display: block;
}

#mem-description {
    width: 100%; height: auto;
}
#mem-description p {
    margin: 10px auto;
}

textarea {
    max-width: 360px;
}

#submit-button {
    display: flex;
    justify-content: space-evenly;
    width: 60%; max-width: 600px;
    margin: 0px auto;
    border-radius: 30px;
    font-family: var(--paragraph);
    font-weight: 500;
    font-size: 24px;
}

/* Join Page CSS Effects */
input[type="text"]:valid, input[type="tel"]:valid, input[type="email"]:valid {
    border-left: 8px solid var(--good);
}

input[type="text"]:invalid, input[type="tel"]:invalid, input[type="email"]:invalid {
    border-left: 8px solid var(--bad);
}

input:focus, textarea:focus {
    background-color: var(--secondary);
    color: var(--white);
}

.required {
    color: var(--status-red);
}

/* Thankyou Page Content */

.thankyou-grid {
    padding-top: 100px;
    min-height: 350px;
}

.thankyou-message {
    border: 1px solid var(--background);
    width: auto; height: auto;
    min-height: 200px;
    margin-bottom: 20px;
    background-color: var(--background);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

/* Directory Page Content */
.card-title {font-size: 32px;}
.card h4 {font-size: 24px;}
.card p, .card a {font-size: 20px;}

.directory-grid {
    display: block;
}

.directory-box {
    border: 1px solid var(--background);
    width: auto; height: auto;
    margin-bottom: 60px;
    background-color: var(--background);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.directory-box .box-title {
    min-width: 200px;
}

.directory-box .box-content {
    padding-bottom: 40px;
}

.card-logo {
    width: 100%; height: auto;
    background-color: gray;
}

.card-titles {
    background-color: var(--secondary);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

.card-address, .card-phone, .card-url {
    margin: 6px 0px;
    padding: 10px;
}

.button-selected {
    background-color: var(--secondary);
    color: var(--accent2);
}

#view-buttons b {
    padding-left: 6px;
}

.view-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 3em;
    row-gap: 2em;
    padding: 0px 10px;
}

.view-cards .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr;
    width: 390px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.view-list {
    display: block;
    padding: 0px;
}

.view-list .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    width: 100%;
    margin: 0px;
}

.view-list .card:nth-child(even) {
    background-color: var(--shading);
}

.view-list .card-titles { grid-column: 1/3; grid-row: 1/2; text-align: left; }
.view-list .card-address { grid-column: 1/2; grid-row: 2/3; }
.view-list .card-phone { grid-column: 2/3; grid-row: 2/3; }
.view-list .card-url { grid-column: 1/3; grid-row: 3/4; }
.view-list .card-logo {
    display: none;
}