/* Large Display Properties (~ 520px+ wide) */
@media screen and (min-width: 32.5em) {
    
    #profile {
        grid-column: 2/3; grid-row: 1/2;
    }
    
    #header-links {
        grid-column: 3/4; grid-row: 1/2;    
        padding: 6px 6px;
    }

    main {
        padding: 10px 10%;
    }
    
    .navigation {
        display: flex;
        justify-content: space-between;
    }
    nav li {
        display: inline-block;
        width: 100%;
    }
    nav li:first-child {
        display: none;
    }
    
    footer {
        display: grid;
        grid-template-columns: 20% 1fr 1fr 20%;
        grid-template-rows: 1fr auto;
    }

    .info-company {
        grid-column: 2/3; grid-row: 1/2;
    }
    
    .info-contact {
        grid-column: 3/4; grid-row: 1/2;
        padding-top: 70px;
        text-align: left;
    }
    
    .info-stats {
        grid-column: 1/5; grid-row: 2/3;
    }

    /* Home Page Content */

    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-gap: 1rem;
    }

    .call-to-action {grid-column: 1/3; grid-row: 1/3;}
    .events {grid-column: 1/3; grid-row: 4/5;}
    .weather {grid-column: 3/4; grid-row: 4/5;}
    .spotlight {grid-column: 3/4; grid-row: 1/4;}
    .join {grid-column: 1/3; grid-row: 3/4;}

    #join-button {
        margin: 20px auto;
    }

    /* Discover Page Content */

    .discover-box {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 80px;
    }

    /* Join Page Content */

    #memberships {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #mem-selection {
       grid-column: 1/2; grid-row: 1/2;
    }
    
    #mem-description {
        grid-column: 2/3; grid-row: 1/2;
    }

    #mem-description p {
        margin: 48px auto 0px auto;
    }

    textarea {
        max-width: 90%;
    }

    /* Directory Page Content */

    .view-cards .card {
        margin: 10px auto;
    }

    .view-list .card {
        display: grid;
        grid-template-columns: 20% 180px 1fr 1fr 370px;
        grid-template-rows: 1fr;
        width: 100%;
        margin: 0px;
    }
    
    .view-list .card:nth-child(even) .card-titles {
        background-color: var(--black);
    }

    .view-list .card-titles { grid-column: 2/3; grid-row: 1/2; }
    .view-list .card-address { grid-column: 3/4; grid-row: 1/2; }
    .view-list .card-phone { grid-column: 4/5; grid-row: 1/2; }
    .view-list .card-url { grid-column: 5/6; grid-row: 1/2; }
    .view-list .card-logo { grid-column: 1/2; grid-row: 1/2; display: block; }
}

/* Medium Display Properties (~ 520px-1200px wide) */
@media screen and (min-width: 32.5em) and (max-width: 75em) {

    main {
        padding: 10px 5%;
    }

    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-column-gap: 1rem;
        grid-row-gap: 0.5rem;
    }

    .call-to-action {grid-column: 1/3; grid-row: 1/2;}
    .events {grid-column: 1/2; grid-row: 3/4;}
    .weather {grid-column: 1/2; grid-row: 2/3;}
    .spotlight {grid-column: 2/3; grid-row: 2/4;}
    .join {grid-column: 1/3; grid-row: 4/5;}

    .view-cards .card {
        margin: 10px auto;
    }

    .view-list .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        width: 100%;
        margin: 0px;
    }

    .view-list .card:nth-child(even) .card-titles {
        background-color: var(--secondary);
    }

    .view-list .card-titles { grid-column: 1/3; grid-row: 1/2; }
    .view-list .card-address { grid-column: 1/2; grid-row: 2/3; }
    .view-list .card-phone { grid-column: 2/3; grid-row: 2/3; }
    .view-list .card-url { grid-column: 1/3; grid-row: 3/4; }
    .view-list .card-logo {
        display: none;
    }
}